@charset "UTF-8";

body{
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to bottom, purple, blue);
    padding: 10px;
    height: 750px;
}

#wrapper{
    width: 90%;
    height: 50%;
    background-color: silver;
    margin: auto;
    display: flex;
}

#wrapper_about_me{
    width: 90%;
    height: 82%;
    background-color: silver;
    margin-left: auto;
    margin-right: auto;
}

#wrapper_project{
    width: 90%;
    height: 75%;
    background-color: silver;
    margin-left: auto;
    margin-right: auto;
}

#right_side{
    float:none;
}

#left_side{
    float:none;
    background-color: beige;
    width: 90%;
    height: 50%;
    margin-top: 30px;
    margin-left: 30px;
}

article{
    background-color: beige;
    height: 63%;
}

video{
    width: 320px;
    height: 180px;
    padding: 15px;
    background-color:black;
    border:2px white solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-left: 35px;
}

#form{
    margin-left: 20%;
    margin-right: auto;
}

h1,h2,h3,h4,h5,h6,p,li {
    margin-left:15px;
    }

header{
    background-color: greenyellow;
    margin: 0%;
    padding-top:5px;
    padding-bottom:5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*to hide if it doesn't fit*/
    overflow: hidden;
    background-color: greenyellow;
}

.header_element{
    display: block;
    color: navy;
    text-align: center;
    padding: 14;
    /*what was this?*/
    text-decoration: none;
}

.header_element:hover{
    background-color: navy;
    color: greenyellow;
}

li{
    float: left;
}

footer{
    background-color: black;
    padding-top:5px;
    padding-bottom:5px;
    width: 90%;
    height: 80;
    margin-left: auto;
    margin-right: auto;
}

.footer_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
}

.footer_div{
    height: 50 px;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}